<%= provide(:title, "Welcome Back") %>

<head>
  <script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      m = checkTime(m);
      h = checkTime(h);
      document.getElementById('txt').innerHTML =
          h + ":" + m;
      var t = setTimeout(startTime, 5000);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
  </script>
</head>

<body onload="startTime()">

<div class="row">
  <div class="welcome col-md-6 col-md-offset-3">
    <h1>Welcome back, Pieter.</h1>
    <h1 id="txt">
    </h1>
  </div>
</div>

<div class="row" id="dynamic">
  <%= get_weather %>
  <div class="todo col-md-3 col-md-offset-6">

  </div>
</div>

<body/>