var html = "<li id=<%= @todo.id %>><h3 class='todoitem'><%= escape_javascript link_to(@todo.item, "todos/#{@todo.id}", :class => "itemlink", :method => :delete, remote: true) %></h3></li>";
$('#todo_item').val('');
$(html).hide().appendTo('.todolist').slideDown('slow');