@import "bootstrap-sprockets";
@import "bootstrap";

.linki{
  height: 30px;
  width: 30px;
}

body{
  background:transparent;
}

.welcome{
  text-align: center;
  color: #FFFFFF;
}

#welcometxt{
  font-size: 52px;
}

#timetxt{
  font-size: 52px;
}

#dynamic{
  padding-top: 5vh;
}

h1{color: #FFFFFF;}

h2{color: #FFFFFF;}

h3{color: #FFFFFF;}

#todomessage{
  text-align: center;
}

.weather{
  padding-top: 1px;
}

.weather h3{
  text-transform: capitalize;
}

.wi {
  font-size: 48px;
  color: #FFFFFF;
}

input {
  width: 100%;
  font-size: 22px;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 3px;
  padding-top: 8px;
  margin-bottom: 3px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #cccccc;
}

.todolist{
  list-style: none;
  padding: 2px 0 0 0;
  margin: 0 0 0 0;
}

.todoitem{
  margin-top: 0px;
  margin-bottom: 20px;
}

.todoitem a{
  color: #FFFFFF;
}

#submitbtn {
  background: transparent;
  border: none;
  font-size:0;
  height: 0px;
  widht: 0px;
  padding: 0 0 0 0;
}